.top-song-img {
    width: 60px;
    height: 60px;
}


// #top-songs-container {
//     .blurry-card {
//         width:550px;
//         max-width: 100%;
//     }
    
// }

.index {
    color: rgba(255, 255, 255, 0.521);
}


.title{
    font-family: 'Averia Serif Libre', serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.79);
}